div
  .uk-container.uk-margin-left.uk-margin-right.uk-margin
    .uk-grid
      .uk-width-1-5
        h3 your channels

        ul.uk-tab.uk-tab-left
          li(ng-repeat="c in channels", ng-class="{ 'uk-active': isActive(c.uid)}")
            a(ng-click="changeChannel(c.uid)") {{c.name}}

      .uk-width-4-5
        form.uk-form(ng-submit='sendMessage()')
          input.uk-form-large.uk-form-width-large(ng-model='message', type='text', placeholder='say something...')
        br
        div.uk-overflow-container
          div(ng-repeat="m in messages")
            article.uk-comment.uk-panel.uk-panel-box.uk-animation-slide-left
              header.uk-comment-header
                div.avatar-frame.uk-comment-avatar(display: 'inline-block')
                  img(ng-src="http://www.gravatar.com/avatar/{{m.user.gravatarHash}}?s=50")
                h4.uk-comment-title {{m.text}}
                ul.uk-comment-meta.uk-subnav.uk-subnav-line
                  li
                    a(href='/')
                      span @{{m.user.username}}
                  li
                    span(am-time-ago="m.timestamp", am-preprocess="unix")
            br
          a#bottom


