div(ng-controller='LoginCtrl')
  .uk-container.uk-margin-left.uk-margin-right.uk-margin
    form.uk-form(ng-submit='login()')
      fieldset(data-uk-margin)
        legend login
        .uk-form-row
          input.uk-form-large.uk-form-width-medium(ng-model='user.username', type='text', placeholder='username')
        .uk-form-row
          input.uk-form-large.uk-form-width-medium(ng-model='user.password', type='password', placeholder='password')
        .uk-form-row
          button.uk-button.uk-button-large.uk-button-success login

      ul.uk-subnav.uk-subnav-line
        li
          button.uk-button(data-uk-modal="{target:'#register'}") register
        li
          button.uk-button forgot password?

  #register.uk-modal
    .uk-modal-dialog
      .uk-modal-close.uk-close
      form.uk-form(ng-submit='register()')
        fieldset(data-uk-margin)
          legend register
          .uk-form-row
            input.uk-form-large.uk-form-width-medium(ng-model='newuser.username', type='text', placeholder='username')
          .uk-form-row
            input.uk-form-large.uk-form-width-medium(ng-model='newuser.email', type='text', placeholder='email')
          .uk-form-row
            input.uk-form-large.uk-form-width-medium(ng-model='newuser.password', type='password', placeholder='password')
          .uk-form-row
            button.uk-button.uk-button-large.uk-button-primary register
