@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Luckiest+Guy);
@import '../components/uikit/themes/default/default/uikit';
@import '../components/uikit/src/less/addons/sticky';

@base-body-font-family: 'Lato', sans-serif;
@base-heading-font-family: 'Lato', sans-serif;
@navbar-nav-font-family: 'Lato', sans-serif;
@navbar-background: #462330;
@navbar-nav-hover-background: #a04e7a;
@navbar-nav-hover-color: #f9bf27;
@navbar-nav-active-background: #f9bf27;
@navbar-color: #f9bf27;
@navbar-nav-color: #f9bf27;

.brand-font {
  font-family: 'Luckiest Guy', cursive;
  color: #b95a86
}

html, body {height: 100%;}

.dogfort-navbar {
  z-index: 9999999;
}

.chat {
  overflow: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.avatar-frame {
  border: 1px solid #462330;
}
.avatar-frame,.avatar-frame img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  moz-border-radius: 30px;
}

.sm-avatar-frame,.sm-avatar-frame img {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  moz-border-radius: 2px;
}



