extends layout

block content

  nav.uk-navbar.uk-navbar-attached.dogfort-navbar(data-uk-sticky)
    span.uk-navbar-brand.uk-hidden-small.brand-font dogfort 5

    ul.uk-navbar-nav(ng-show='user')
      li(ng-class="{ 'uk-active': isActive('/chat')}")
        a(href='/#/chat') chat
      li(ng-class="{ 'uk-active': isActive('/channels')}")
        a(href='/#/channels') channels

    .uk-navbar-flip(ng-show='user')
      ul.uk-navbar-nav
        li
          a(data-uk-offcanvas="{target:'#menu'}")
            i.uk-icon.uk-icon-align-justify

  br
  .ng-view

  #menu.uk-offcanvas
    .uk-offcanvas-bar.uk-offcanvas-bar-flip
      .uk-panel
        button.uk-button(ng-click='logout()') logout
        br
        a(href='https://chrome.google.com/webstore/detail/dogfort/oefhpcmeienkpbaacogmopaaeljjiaak') chrome extension
