extends layout

block content

  nav.uk-navbar.uk-navbar-attached.dogfort-navbar(data-uk-sticky)
    a.uk-navbar-brand.uk-hidden-small.brand-font(href="/") dogfort.v5 &nbsp;
      span.uk-badge.uk-badge-warning beta

    ul.uk-navbar-nav(ng-show='user')
      li(ng-class="{ 'uk-active': isActive('/chat')}")
        a(href='/#/chat') chat
      li(ng-class="{ 'uk-active': isActive('/channels')}")
        a(href='/#/channels') channels

    .uk-navbar-flip(ng-show='user')
      ul.uk-navbar-nav
        li
          a(data-uk-offcanvas="{target:'#menu'}")
            span.sm-avatar-frame(display: 'inline-block')
              img(ng-src="http://www.gravatar.com/avatar/{{user.gravatarHash}}?s=20")
            | &nbsp; @{{user.username}} &nbsp;

  br
  .ng-view

  #menu.uk-offcanvas
    .uk-offcanvas-bar.uk-offcanvas-bar-flip
      .uk-panel
        button.uk-button(ng-click='logout()') logout
