doctype html
html(ng-app='dogfort')
  head
    title= dogfort

    link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')

    link(rel='stylesheet', href='/styles/app.css')
    link(rel='stylesheet', href='/styles/toastr.css')

    script(type='text/javascript', src='/scripts/thirdparty.min.js')
    script(type='text/javascript', src='/scripts/dogfort.js')

    block head

  body(ng-controller='MainCtrl')
    block content
